### Dependencies

In [5]:
from rdflib import Graph
import owlrl

/home/ernesto/Documents/City_Teaching/venv_python/lab2/lib/python3.8/site-packages/rdflib_jsonld/__init__.py:9: DeprecationWarning: The rdflib-jsonld package has been integrated into rdflib as of rdflib==6.0.1.  Please remove rdflib-jsonld from your project's dependencies.
  warnings.warn(

### Method to load data, perform reasoning and print query results

In [6]:
def queryLocalGraph(ontology_file, format_ontology, data_file, format_data, query_file):

    g = Graph()
    g.parse(data_file, format=format_data)#
    if ontology_file is not None: 
        g.parse(ontology_file, format=format_ontology)
    
    
    print("Loaded '" + str(len(g)) + "' triples.")
    
    #Performs OWL 2 RL  reasoning
    owlrl.DeductiveClosure(owlrl.OWLRL_Semantics, axiomatic_triples=True, datatype_axioms=False).expand(g)
    
    print("After inference rules: '" + str(len(g)) + "' triples.")
    
        
    #for s, p, o in g:
    #    print((s.n3(), p.n3(), o.n3()))
    
    #Do reasoning!
    owlrl.DeductiveClosure(owlrl.OWLRL_Semantics, axiomatic_triples=True, datatype_axioms=False).expand(g)
    print("After reasoning '" + str(len(g)) + "' triples.")
    
    #Load query
    query = open(query_file, 'r').read()    
    
    qres = g.query(query)

    print("\nQuery: ")
    print(query)
    
    print("\nResults: ")
    
    #Print results
    for row in qres:        
        #Row is a list of matched RDF terms: URIs, literals or blank nodes
        row_str =""
        for element in row:
            row_str += str(element) + ", "
        
        print("'%s'" % (str(row_str)))

### Playground dataset

In [7]:
#Playground
ontology_file=None
format_onto=None
dataset="../files/playground.ttl"
format_data = "ttl"
query="query_playground.txt"
#query="solution/query7.1_playground.txt"
queryLocalGraph(ontology_file, format_onto, dataset, format_data, query)

Loaded '73' triples.
After inference rules: '1238' triples.
After reasoning '1293' triples.

Query:
PREFIX ttr: <http://example.org/tuto/resource#>
PREFIX tto: <http://example.org/tuto/ontology#>
PREFIX dbp: <http://dbpedia.org/property/>
SELECT ?pet ?owner where {
?pet a tto:Animal .
OPTIONAL {?owner tto:pet ?pet}
}

Results:
'http://example.org/tuto/resource#RexDog, http://example.org/tuto/resource#William, '
'http://example.org/tuto/resource#TomCat, http://example.org/tuto/resource#John, '
'http://example.org/tuto/resource#LunaCat, http://example.org/tuto/resource#John, '
'http://example.org/tuto/resource#SnuffMonkey, None, '

### World cities dataset

In [8]:
#World-cities
dataset = "../files/worldcities-free-100-task2.ttl"
format_data = "ttl"
ontology_file = "../files/ontology_lab5.ttl"
format_onto = "ttl"
query = "query_world-cities.txt"
queryLocalGraph(ontology_file, format_onto, dataset, format_data, query)

Loaded '3768' triples.
After inference rules: '6894' triples.
After reasoning '6920' triples.

Query:
PREFIX lab5: <http://www.semanticweb.org/ernesto/in3067-inm713/lab5/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
SELECT DISTINCT ?country ?city ?pop WHERE {
	?city rdf:type lab5:City .
    ?city lab5:isCapitalOf ?country .
    ?city lab5:population ?pop .
    FILTER (xsd:integer(?pop) > 5000000)
}
ORDER BY DESC(?pop)

Results:
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/japan, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/tokyo, 37977000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/indonesia, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/jakarta, 34540000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/philippines, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/manila, 23088000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/korea,_south, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/seoul, 21794000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/mexico, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/mexico_city, 20996000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/china, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/beijing, 19433000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/egypt, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/cairo, 19372000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/russia, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/moscow, 17125000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/thailand, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/bangkok, 17066000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/argentina, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/buenos_aires, 16157000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/bangladesh, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/dhaka, 15443000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/iran, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/tehran, 13633000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/congo_(kinshasa), http://www.semanticweb.org/ernesto/in3067-inm713/lab5/kinshasa, 13528000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/france, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/paris, 11020000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/united_kingdom, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/london, 10979000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/peru, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/lima, 9848000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/colombia, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/bogota, 9464000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/angola, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/luanda, 8417000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/malaysia, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/kuala_lumpur, 8285000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/vietnam, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/hanoi, 7785000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/sudan, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/khartoum, 7282000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/chile, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/santiago, 7007000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/saudi_arabia, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/riyadh, 6881000, '
'http://www.semanticweb.org/ernesto/in3067-inm713/lab5/tanzania, http://www.semanticweb.org/ernesto/in3067-inm713/lab5/dar_es_salaam, 6698000, '

### Nobel prize dataset

In [10]:
#Nobel prize
#Reasoning takes a bit
ontology_file = "../files/nobel-prize-ontology.rdf"
format_onto = "xml"
dataset= "../files/nobelprize_kg.nt"
format_data = "nt"
query = "query_nobel-prize.txt"    
#query = "query_nobel-prize-service.txt";

queryLocalGraph(ontology_file, format_onto, dataset, format_data, query)

Loaded '85892' triples.
After inference rules: '282253' triples.
After reasoning '311300' triples.

Query:
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX np: <http://data.nobelprize.org/terms/>
SELECT DISTINCT ?name WHERE {
	?laur rdf:type np:Laureate .
	?laur rdfs:label ?name .
	?laur foaf:gender "female" .
}

Results:
'Leymah Gbowee, '
'Toni Morrison, '
'Carol W. Greider, '
'Marie Curie, née Sklodowska, '
'Aung San Suu Kyi , '
'Elizabeth H. Blackburn, '
'Rosalyn Yalow, '
'Mairead Corrigan, '
'Barbara McClintock, '
'Herta Müller, '
'Elfriede Jelinek, '
'Elinor Ostrom, '
'Françoise Barré-Sinoussi, '
'Alice Munro, '
'Sigrid Undset, '
'Dorothy Crowfoot Hodgkin, '
'May-Britt Moser, '
'Gabriela Mistral, '
'Betty Williams, '
'Nadine Gordimer, '
'Doris Lessing, '
'Nelly Sachs, '
'Grazia Deledda, '
'Pearl Buck, '
'Alva Myrdal, '
'Wangari Muta Maathai, '
'Mother Teresa , '
'Jane Addams, '
'Baroness Bertha Sophie Felicita von Suttner, née Countess Kinsky von Chinic und Tettau, '
'Maria Goeppert Mayer, '
'Shirin Ebadi, '
'Youyou Tu, '
'Irène Joliot-Curie, '
'Rita Levi-Montalcini, '
'Rigoberta Menchú Tum, '
'Wislawa Szymborska, '
'Ellen Johnson Sirleaf, '
'Christiane Nüsslein-Volhard, '
'Malala Yousafzai, '
'Linda B. Buck, '
'Ada E. Yonath, '
'Gerty Theresa Cori, née Radnitz, '
'Gertrude B. Elion, '
'Emily Greene Balch, '
'Svetlana Alexievich, '
'Jody Williams, '
'Selma Ottilia Lovisa Lagerlöf, '
'Tawakkol Karman, '

### SPARQL Update

In [9]:
dataset="../files/playground.ttl"
format_data = "ttl"
    
g = Graph()
g.parse(dataset, format=format_data)

print("Loaded '" + str(len(g)) + "' triples.")

Loaded '73' triples.

#### Insert triples

In [10]:
## Insert triples
query_insert = """
       PREFIX ttr: <http://example.org/tuto/resource#>\n
       PREFIX tto: <http://example.org/tuto/ontology#>\n
       PREFIX dbo: <http://dbpedia.org/ontology/>\n
       PREFIX dbp: <http://dbpedia.org/property/>\n
       insert data {
           ttr:Bella dbp:name 'Bella' .\n
           ttr:Bella a tto:Cat .\n
           ttr:Ernesto a dbo:Person .\n
           ttr:Ernesto ttr:pet ttr:Bella .\n                
        }"""
qres = g.update(query_insert)
print("Triples after insert update: '" + str(len(g)) + "' triples.")

Triples after insert update: '77' triples.

#### Remove triples

In [12]:
##Delete triples
query_delete = """
       PREFIX ttr: <http://example.org/tuto/resource#>\n
       PREFIX tto: <http://example.org/tuto/ontology#>\n
       PREFIX dbo: <http://dbpedia.org/ontology/>\n
       PREFIX dbp: <http://dbpedia.org/property/>\n
       delete data {
           ttr:Bella dbp:name 'Bella' .\n
           ttr:Bella a tto:Cat .\n
           ttr:Ernesto a dbo:Person .\n
           ttr:Ernesto ttr:pet ttr:Bella .\n                
        }"""
qres = g.update(query_delete)
print("Triples after delete update: '" + str(len(g)) + "' triples.")

Triples after delete update: '73' triples.

#### Update labels

In [14]:
##Update labels
query_update_labels = """
       PREFIX ttr: <http://example.org/tuto/resource#>\n
       PREFIX tto: <http://example.org/tuto/ontology#>\n
       PREFIX dbo: <http://dbpedia.org/ontology/>\n
       PREFIX dbp: <http://dbpedia.org/property/>\n
       PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n
         delete { ?x dbp:name ?y }\n
         insert { ?x rdfs:label ?y }\n
         where { ?x dbp:name ?y }                
    """
qres = g.update(query_update_labels)
print("Triples after update labels: '" + str(len(g)) + "' triples.")
        
    
#Save new KG
file_output = dataset.replace(".ttl", "-update-labels.ttl")
g.serialize(destination=file_output, format='ttl')

Triples after update labels: '73' triples.