### Requirements/Libraries

In [1]:
from rdflib import Graph
from SPARQLWrapper import SPARQLWrapper, JSON

### Query local Playground dataset

In [2]:
#Loads KG
g = Graph()
g.parse("./data/playground.ttl", format="ttl")

print("Loaded '" + str(len(g)) + "' triples.")

print("Query results (Females):")

qres = g.query(
"""SELECT ?thing ?name where {
  ?thing tto:sex "female" .
  ?thing dbp:name ?name .
}""")

for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print("%s is female with name '%s'" % (str(row.thing),str(row.name)))

#Same but with loading a query from a file
print("Query results, Females (query from file):")
query_file = "./data/query.txt"
query = open(query_file, 'r').read()
    
qres = g.query(query)
    
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print("%s is female with name '%s'" % (str(row.thing),str(row.name)))

Loaded '73' triples.
Query results (Females):
http://example.org/tuto/resource#Eve is female with name 'Eve'
http://example.org/tuto/resource#LunaCat is female with name 'Luna'
Query results, Females (query from file):
http://example.org/tuto/resource#Eve is female with name 'Eve'
http://example.org/tuto/resource#LunaCat is female with name 'Luna'

In [3]:
qres = g.query("""
SELECT ?name where {
ttr:Eve dbo:parent ?father .
?father dbo:parent ?thing .
?thing dbp:name ?name .
}
""")
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print(str(row.name))

John

In [4]:
qres = g.query("""
SELECT ?name ?color ?sex ?name where {
?dog a tto:Dog .
?dog tto:color ?color .
?dog tto:sex ?sex .
?dog dbp:name ?name .
}
""")
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print(str(row.name)+str(row.color)+str(row.sex))

Rexbrownmale

In [5]:
qres = g.query("""
select ?pet ?owner where {
  ?pet a / rdfs:subClassOf+ tto:Animal .
  optional {?owner tto:pet ?pet}
}
""")
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print(str(row.pet) + str(row.owner))

http://example.org/tuto/resource#LunaCathttp://example.org/tuto/resource#John
http://example.org/tuto/resource#TomCathttp://example.org/tuto/resource#John
http://example.org/tuto/resource#RexDoghttp://example.org/tuto/resource#William
http://example.org/tuto/resource#SnuffMonkeyNone

In [6]:
qres = g.query("""
SELECT * where {
?person a dbo:Person .
?person tto:sex ?sex .
?person dbp:birthDate ?birth .
}
""")
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    print(str(row.person)+' '+ str(row.sex)+' '+str(row.birth))

http://example.org/tuto/resource#Eve female 2006-11-03
http://example.org/tuto/resource#John male 1942-02-02
http://example.org/tuto/resource#William male 1978-07-20

### Query local Nobel Prize dataset

In [7]:
#Loads KG
g = Graph()
g.parse("../files/nobelprize_kg.nt", format="nt")
  
print("Loaded '" + str(len(g)) + "' triples.")

#Query with prefixes 
nobelprize_query = """
PREFIX nobel: <http://data.nobelprize.org/terms/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
SELECT DISTINCT ?name_laur WHERE { 
?laur rdf:type nobel:Laureate . 
?laur rdfs:label ?name_laur . 
?laur foaf:gender "female" . }
"""

qres = g.query(nobelprize_query)

print("Female laureates (printing 10):")
i=0
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    i+=1
    print("'%s'" % (str(row.name_laur))) #Same name as in sparql query SELECT variable
    if i==10:
        break

Loaded '85797' triples.
Female laureates (printing 10):
'Marie Curie, née Sklodowska'
'Maria Goeppert Mayer'
'Irène Joliot-Curie'
'Dorothy Crowfoot Hodgkin'
'Gerty Theresa Cori, née Radnitz'
'Rosalyn Yalow'
'Barbara McClintock'
'Rita Levi-Montalcini'
'Gertrude B. Elion'
'Christiane Nüsslein-Volhard'

In [8]:
qres = g.query("""SELECT DISTINCT * WHERE {
<http://data.nobelprize.org/resource/laureate/260> ?p ?o .
}
""")

print("260 (printing all):")
i=0
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    i+=1
    print("'%s''%s'" % (str(row.p),str(row.o))) #Same name as in sparql query SELECT variable
    if i==30:
        break

260 (printing all):
'http://data.nobelprize.org/terms/nobelPrize''http://data.nobelprize.org/resource/nobelprize/Chemistry/1983'
'http://dbpedia.org/ontology/deathPlace''http://data.nobelprize.org/resource/country/USA'
'http://dbpedia.org/ontology/deathPlace''http://data.nobelprize.org/resource/city/Stanford%2C_CA'
'http://data.nobelprize.org/terms/laureateAward''http://data.nobelprize.org/resource/laureateaward/258'
'http://dbpedia.org/ontology/affiliation''http://data.nobelprize.org/resource/university/Stanford_University'
'http://www.w3.org/2002/07/owl#sameAs''http://viaf.org/viaf/53044228'
'http://www.w3.org/2002/07/owl#sameAs''http://yago-knowledge.org/resource/Henry_Taube'
'http://www.w3.org/2002/07/owl#sameAs''http://rdf.freebase.com/ns/m.03prz6'
'http://www.w3.org/2002/07/owl#sameAs''http://dbpedia.org/resource/Henry_Taube'
'http://xmlns.com/foaf/0.1/familyName''Taube'
'http://dbpedia.org/property/dateOfBirth''1915-11-30'
'http://xmlns.com/foaf/0.1/birthday''1915-11-30'
'http://www.w3.org/1999/02/22-rdf-syntax-ns#type''http://xmlns.com/foaf/0.1/Person'
'http://www.w3.org/1999/02/22-rdf-syntax-ns#type''http://data.nobelprize.org/terms/Laureate'
'http://xmlns.com/foaf/0.1/givenName''Henry'
'http://xmlns.com/foaf/0.1/gender''male'
'http://dbpedia.org/property/dateOfDeath''2005-11-16'
'http://xmlns.com/foaf/0.1/name''Henry Taube'
'http://www.w3.org/2000/01/rdf-schema#label''Henry Taube'
'http://dbpedia.org/ontology/birthPlace''http://data.nobelprize.org/resource/country/Canada'
'http://dbpedia.org/ontology/birthPlace''http://data.nobelprize.org/resource/city/Neudorf'

In [9]:
qres = g.query("""
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX nobel: <http://data.nobelprize.org/terms/>
PREFIX nobelc: <http://data.nobelprize.org/resource/country/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
SELECT DISTINCT * WHERE {
?p rdf:type nobel:Laureate .
?p rdfs:label ?name .
?p dbo:birthPlace nobelc:United_Kingdom .
}
""")

print("Laureates (printing 30):")
i=0
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    i+=1
    print("'%s'" % (str(row.name))) #Same name as in sparql query SELECT variable
    if i==30:
        break

Laureates (printing 30):
'William Bradford Shockley'
'Herbert C. Brown'
'Michael Smith'
'Patrick White'
'Oliver Smithies'
'Jack W. Szostak'
'Lord Rayleigh (John William Strutt)'
'Joseph John Thomson'
'Sir William Henry Bragg'
'Charles Glover Barkla'
'Owen Willans Richardson'
'Paul Adrien Maurice Dirac'
'James Chadwick'
'George Paget Thomson'
'Sir Edward Victor Appleton'
'Patrick Maynard Stuart Blackett'
'Cecil Frank Powell'
'Sir John Douglas Cockcroft'
'Brian David Josephson'
'Sir Martin Ryle'
'Antony Hewish'
'Sir Nevill Francis Mott'
'Anthony J. Leggett'
'Frederick Soddy'
'Francis William Aston'
'Arthur Harden'
'Walter Norman Haworth'
'Sir Robert Robinson'
'Archer John Porter Martin'
'Richard Laurence Millington Synge'

In [ ]:
qres = g.query("""
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX nobel: <http://data.nobelprize.org/terms/>
PREFIX nobelc: <http://data.nobelprize.org/resource/country/>
PREFIX foaf: <http://xmlns.com/foaf/0.1/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
SELECT DISTINCT * WHERE {
?p rdf:type nobel:Laureate .
?p rdfs:label ?name .
?p dbo:birthPlace nobelc:United_Kingdom .
}
""")

print("Laureates (printing 30):")
i=0
for row in qres:
    #Row is a list of matched RDF terms: URIs, literals or blank nodes
    i+=1
    print("'%s'" % (str(row.name))) #Same name as in sparql query SELECT variable
    if i==30:
        break


### Query remote dataset via SPARQL Enpoint

In [6]:
#Remote service
endpoint_url = "http://dbpedia.org/sparql"
sparqlw = SPARQLWrapper(endpoint_url)
sparqlw.setReturnFormat(JSON)


query = """
PREFIX foaf: <http://xmlns.com/foaf/0.1/> 
PREFIX dbo: <http://dbpedia.org/ontology/> 
SELECT DISTINCT ?x WHERE { 
?jd foaf:name \"Johnny Depp\"@en . 
?m dbo:starring ?jd .
?m dbo:starring ?other . 
?other foaf:name ?x . 
FILTER (STR(?x)!=\"Johnny Depp\")
} 
ORDER BY ?x
LIMIT 10
"""

sparqlw.setQuery(query)

results = sparqlw.query().convert()

#Prints JSON file
#print(results)   

print("Stars co-starring Johnny Depp (limit to 10):")
i=0
for result in results["results"]["bindings"]:
    i+=1
    #Prints individual results 
    print(result["x"]["value"])

Stars co-starring Johnny Depp (limit to 10):

Abigail Breslin
Adam Scott
Aidan Quinn
Al Pacino
Alain Chabat
Alan Arkin
Albert Tsai
Alfred Molina
Alison Sudol