### Requirements/Libraries

In [1]:
from rdflib import Graph
from rdflib import URIRef, BNode, Literal
from rdflib import Namespace
from rdflib.namespace import OWL, RDF, RDFS, FOAF, XSD
import csv
import pandas as pd

### Loads a graph in a format and stores in a different format

In [2]:
g = Graph()
g.parse("./data/beatles.ttl", format="ttl")

print("The graph contains '" + str(len(g)) + "' triples.")
    
#for s, p, o in g:
#    print((s.n3(), p.n3(), o.n3()))
    
print("Saving graph to 'beatles.rdf'")
g.serialize(destination='beatles.rdf', format='xml')

The graph contains '20' triples.
Saving graph to 'beatles.rdf'

### Creates triples

In [3]:
#Empty graph
g = Graph()

#Special namspaces to create  
city = Namespace("http://www.example.org/university/london/city#")
dbpo = Namespace("https://dbpedia.org/ontology/")
   
#Prefixes
g.bind("foaf", FOAF) #FOAF is given as defaulty namespace
g.bind("city", city) #city is a newly created namespace
g.bind("dbpo", dbpo) #dbpo is a newly created namespace 

#These lines are equivalent:
#ernesto = URIRef("http://www.example.org/university/london/city#ernesto")
#city.ernesto

#print(city.ernesto)

bnode = BNode()  # a GUID is generated

name = Literal('Ernesto Jimenez-Ruiz', datatype=XSD.string)  # lang="en" for language tags
year = Literal('2021', datatype=XSD.gYear)  # lang="en" for language tags
   

g.add((city.inm713, RDF.type, city.Module))
g.add((city.ernesto, RDF.type, FOAF.Person))
g.add((city.ernesto, FOAF.name, name))
g.add((city.ernesto, city.teaches, city.inm713))

g.add((bnode, RDF.type, RDF.Statement ))
g.add((bnode, RDF.subject, city.ernesto ))
g.add((bnode, RDF.predicate, city.teaches ))
g.add((bnode, RDF.object, city.inm713 ))
g.add((bnode, dbpo.year, year ))


print("Saving graph to 'lab3_example_rdflib.ttl':")

print(g.serialize(format="turtle").decode("utf-8"))
g.serialize(destination='./data/lab3_example_rdflib.ttl', format='ttl')

Saving graph to 'lab3_example_rdflib.ttl':
@prefix city: <http://www.example.org/university/london/city#> .
@prefix dbpo: <https://dbpedia.org/ontology/> .
@prefix foaf: <http://xmlns.com/foaf/0.1/> .
@prefix rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> .
@prefix xsd: <http://www.w3.org/2001/XMLSchema#> .

city:ernesto a foaf:Person ;
    city:teaches city:inm713 ;
    foaf:name "Ernesto Jimenez-Ruiz"^^xsd:string .

city:inm713 a city:Module .

[] a rdf:Statement ;
    rdf:object city:inm713 ;
    rdf:predicate city:teaches ;
    rdf:subject city:ernesto ;
    dbpo:year "2021-01-01"^^xsd:gYear .

In [6]:
file="./data/lab3_companies_file.csv"

### Load a CSV file with built in libary

In [7]:
with open(file) as csv_file:
       
    csv_reader = csv.reader(csv_file, delimiter=',', quotechar='"', escapechar="\\")
    
    #previous_key=""
      
    for row in csv_reader:
        print(row)

['Company', 'Founding year', 'Headquarters']
['OST', '2017', 'Oxford']
['DeepReason.ai', '2018', 'Oxford']
['Oxstem', '2011', 'Oxford']
['Oxbotica', '2014', 'Oxford']
['DeepMind', '2010', 'London']

### Load a CSV file with Pandas

In [9]:
data_frame = pd.read_csv(file, sep=',', quotechar='"',escapechar="\\")    
   
for cell in data_frame['Company']:
    print(cell)

for row in data_frame.itertuples(index=True, name='Pandas'):
    print(row)

OST
DeepReason.ai
Oxstem
Oxbotica
DeepMind
Pandas(Index=0, Company='OST', _2=2017, Headquarters='Oxford')
Pandas(Index=1, Company='DeepReason.ai', _2=2018, Headquarters='Oxford')
Pandas(Index=2, Company='Oxstem', _2=2011, Headquarters='Oxford')
Pandas(Index=3, Company='Oxbotica', _2=2014, Headquarters='Oxford')
Pandas(Index=4, Company='DeepMind', _2=2010, Headquarters='London')